/* Google Font Inter & Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    margin: 50px auto;
}

section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.section-sub-title {
    font-size: 48px;
    font-weight: 700;
}

.section-description {
    font-size: 24px;
    font-weight: 500;
}

.section-sub-description {
    font-size: 18px;
    line-height: 30px;
}

.btn-secondary {
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF0000;
    color: #FFFFFF;
    padding: 16px 32px;
    font-weight: 700;
}

.font-inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-merriweather {
    font-family: "Merriweather", serif;
    font-style: normal;
}

.text-primary {
    color: #FF0000;
}

.text-secondary {
    color: #070211;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: rgba(7, 2, 17, 0.6);
}

.text-center {
    text-align: center;
}

/* Header Styles */

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    background: linear-gradient(to bottom, rgba(7, 2, 17, 0.8) 0%, rgba(7, 2, 17, 0.5) 100%), url('../images/Banner Image.png');
    border-radius: 16px;
}

.banner .banner-content {
    width: 632px;
}

.banner-sub-title {
    font-size: 32px;
    margin-bottom: 16px;
}

.banner-title {
    font-size: 72px;
    font-weight: bolder;
    line-height: 95px;
}

/* Category Section Styles */

.category {
    max-width: 803px;
    margin: 0 auto;
}

.category .category-title {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.category .section-sub-title {
    margin-top: 16px;
    margin-bottom: 48px;
}


/* Advertisement Section Styles */

.advertisement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    background: linear-gradient(to right, rgba(7, 2, 17, 0.8) 0%, rgba(7, 2, 17, 0.5) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
}

.advertisement-content {
    padding-left: 126px;
    max-width: 700px;
}

.advertisement .advertisement-content .advertise-title {
    font-size: 64px;
    line-height: 88px;
}

.advertisement .advertisement-content .section-sub-description {
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}

/* Booking Section Styles */


.booking {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0.2), rgba(255, 0, 0, 0.1));
    border-radius: 16px;
}

.booking-content {
    margin: 100px 0;
}

.booking-detail {
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.booking-content .btn-primary {
    margin-top: 48px;
}

/* New Offer Section Styles */

.new-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-offer .left-offer {
    flex-basis: 25%;
}

.new-offer .left-offer .section-sub-title {
    margin-top: 16px;
    margin-bottom: 22px;
}

.new-offer .left-offer .section-sub-title {
    font-weight: bold;
}

.new-offer .middle-offer {
    padding: 25px;
    border-radius: 50%;
    border: 15px solid #FF0000;
}

.new-offer .right-offer {
    flex-basis: 20%;
}

.right-offer .section-sub-description {
    margin-top: 16px;
    margin-bottom: 43px;
}

/* Holiday sale Section Styles */

.holiday-sale {
    
}

.holiday-title {
    font-size: 72px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 28px;
}

.holiday-content {
    width: 1068px;
    margin: 64px auto;
}

.holiday-images {
    display: flex;
    justify-content: space-around;
    background-image: url('../images/Rectangle 2.png');
    background-position: bottom;
    background-repeat: no-repeat;
}


/* Portfolio Section Styles */

.portfolio .portfolio-content {
    width: 900px;
    margin-bottom: 48px;
}

.portfolio .portfolio-content .section-sub-title {
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* Newsletter Section Styles */

.newsletter {
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 0;
    border-radius: 16px;
}

.newsletter-content {
    width: 896px;
    margin: 48px auto;
}

.newsletter input[type="text"] {
    padding: 15px 12px;
    width: 350px;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: none;
}

.newsletter .btn-primary {
    border-radius: 0 50px 50px 0;
    outline: none;
    margin-left: -6px;
}

/* Footer Styles */

.footer {
    background: #000000;
    padding: 120px 140px;
    font-weight: 500;
}


.footer hr {
    margin: 50px 0;
    border-color: rgba(255, 255, 255, 0.15);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-links {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.bottom-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}